@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바 넓이 지정 */
::-webkit-scrollbar {
  width: 7px;
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
  z-index: 100;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 5px;
}

/* 스크롤바 손잡이 꾸미기 */
::-webkit-scrollbar-thumb {
  background: #c7c7cc;
  border-radius: 5px;
  height: 20%;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: 'LineSeedKr';
  src: url('/public/fonts/LINESeedKR-Rg.woff2') format('woff2'); /* Regular 폰트 파일 경로 */
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'LineSeedKr';
  src: url('/public/fonts/LINESeedKR-Bd.woff2') format('woff2'); /* Bold 폰트 파일 경로 */
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'LineSeedKr';
  src: url('/public/fonts/LINESeedKR-Th.woff2') format('woff2'); /* Thin 폰트 파일 경로 */
  font-weight: 100; /* Thin */
  font-style: normal;
}

body {
  font-family:
    'LineSeedKr',
    -apple-system,
    Roboto,
    BlinkMacSystemFont,
    system-ui,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

/* input 태그의 outline 제거 */
input,
textarea {
  outline: none;
}

@layer utilities {
  /* 글로벌 클래스 */
  /* 최상위 컨테이너 */
  .top-container {
    @apply w-full flex min-h-screen justify-center;
  }
  /* max-width 1200px인 컨테이너 */
  .max-w-1200 {
    @apply w-full max-w-[1200px] px-2;
  }
  /* max-width 1000px인 컨테이너 */
  .max-w-1000 {
    @apply w-full max-w-[1000px] px-12;
  }

  /* 사이드바 메뉴 item*/
  .side-menu {
    @apply flex w-full h-12 items-center justify-between p-2 whitespace-nowrap;
  }

  /* hover */
  .gray-hover {
    @apply hover:bg-gray-1 hover:border-gray-2 hover:shadow-sm;
  }

  /* 사이드바 활성화 */
  .active-menu {
    @apply bg-gray-1 border-gray-2 shadow-sm;
  }

  /* 모달 버튼 */
  .modal-btn {
    @apply flex justify-center items-center px-4 py-3 text-xs font-bold text-white whitespace-nowrap;
  }
  /* 취소 버튼 */
  .btn-back {
    @apply modal-btn bg-gray-6 rounded;
  }
  /* 확인 버튼 */
  .btn-check {
    @apply modal-btn bg-main rounded;
  }

  /* 1px 가로줄 */
  .division {
    @apply w-full h-[1px] bg-border-1 shrink-0;
  }
  /* 팝업 시 오버레이 */
  .overlay {
    @apply flex items-center justify-center fixed w-screen h-screen bg-ol bg-opacity-60 left-0 top-0 z-50;
  }
  /* 남색 버튼 sm*/
  .main-btn {
    @apply bg-main hover:bg-gray-15 text-body-regular text-white py-1 px-3 rounded;
  }

  /* 남색 버튼 lg*/
  .main-btn-lg {
    @apply bg-main hover:bg-gray-15 text-subtitle text-white py-3 px-3 rounded;
  }

  /* 팝업 시 오버레이 */
  .overlay {
    @apply flex items-center justify-center fixed w-screen h-screen bg-opacity-40 left-0 top-0 z-50;
  }
}
